{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    <h2 align="left">Список профессий</h2>
    {% if list == 'ol' %}
           <ol>
            {% for x in professions %}
                <li>{{ x }}</li>
            {% endfor %}
           </ol>
     {% elif list == 'ul' %}
           <ul>
            {% for x in professions %}
                <li>{{ x }}</li>
            {% endfor %}
           </ul>
    {% else %}
           <p>Wrong parameter</p>
    {% endif %}
{% endblock %}